* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
  color: #333;
}
ul,
li {
  list-style-type: none;
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track-piece {
  border-radius: 0;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  width: 12px;
  height: 12px;
  background-color: #d8d8d8;
  border: 3px solid #fff;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #d8d8d8;
}
::-webkit-scrollbar-corner {
  background-color: #fff;
}
img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.success {
  color: #06aea6;
}
.error {
  color: red;
}
.public-button {
  width: 100px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
